<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <update id="updateRecord">
        update attendance.record
        <set>
            <if test="punchInTime != null">punch_in_time = #{punchInTime},</if>
            <if test="punchOutTime != null">punch_out_time = #{punchOutTime}</if>
        </set>
        where id = #{id}
    </update>

    <insert id="createRecord">
        insert into attendance.record(username,punch_in_time,punch_out_time)
        values(#{username},#{punchInTime},#{punchOutTime})
    </insert>

    <select id="getAbsenceRecord" resultType="int">
        select coalesce(to_char(punch_in_time,'DD'),to_char(punch_out_time,'DD'))
        from attendance.record where username = #{username}
        and ((substring(to_char(punch_in_time, 'YYYY-MM-DD HH24:MI:SS'),0,11) in
        <foreach collection="newDate" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and punch_out_time isnull)

        or (punch_in_time isnull and substring(to_char(punch_out_time, 'YYYY-MM-DD HH24:MI:SS'),0,11) in
        <foreach collection="newDate" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ))
    </select>

    <select id="getDay" resultType="java.lang.Long">
        select * from attendance.record where
        (substring(to_char(punch_in_time, 'YYYY-MM-DD HH24:MI:SS'),0,11) = #{day} or
        substring(to_char(punch_out_time, 'YYYY-MM-DD HH24:MI:SS'),0,11) = #{day})
    </select>

</mapper>